SITE_PATH=


DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3001/auth/discord/callback
CLIENT_ORIGIN=http://localhost:5173

GOOGLE_APPLICATION_CREDENTIALS=
FIREBASE_DATABASE_URL=
